<ul class="form-widget" style="list-style-type: none">
    {% for item in field.value %}
{#        {% if item.product %}#}
{#            <li>{{ item.product }}</li>#}
{#        {% else %}#}
            <li>{{ item.name }}</li>
{#        {% endif %}#}
    {% endfor %}
</ul>